<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131023730286-jiekptpaii2jtdioqpodoo26ccg9qkek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131023730286-jiekptpaii2jtdioqpodoo26ccg9qkek</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>131023730286-cmlvhkbskt1osqpvdidcu5un0q19dddd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDdzFhuu0nEJ7GWN9Yph9ajkLNhs7X8CNs</string>
	<key>GCM_SENDER_ID</key>
	<string>131023730286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fanaFitworld</string>
	<key>PROJECT_ID</key>
	<string>fanafitworld</string>
	<key>STORAGE_BUCKET</key>
	<string>fanafitworld.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131023730286:ios:9a37febf49e49b1abe987f</string>
</dict>
</plist>